USE [DemoSVN]
GO
/****** Object:  Table [dbo].[USER]    Script Date: 10/7/2016 12:26:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER](
	[UserID] [nchar](10) NULL,
	[Password] [nchar](10) NULL
) ON [PRIMARY]

GO
